<% const dueProjects = (pageInfo.dueProjects !== null) ? pageInfo.dueProjects : null %>

<section class="profy__home" data-section>
  <div class="profy__home__greet">
    <div data-home-greet-time>
      Thursday, July 12
    </div>

    <div>
      <span data-home-greet-msg>
        Good Evening
      </span>
      <span data-home-greet-name>
        <%= `${pageInfo.userName.split(" ")[0]}` %>
        <!-- William -->
      </span>
    </div>
  </div>

  <div class="profy__home__nearing-duedate-txt">
    <% if(dueProjects !== null) { %> 
      Here are some projects that are nearing due date :
    <% } else { %> 
      Projects that are nearing due date show up here :)
    <% } %> 
  </div>

  <div class="profy__home__project-list">

    <% if(dueProjects !== null) { %> 

      <% for(const item of dueProjects) { %>
        <% const completed = item.projectOverview.completedTasks; %>
        <% const total = item.projectOverview.totalTasks; %>
        <% let workDone = Math.round((completed / total) * 100); %>
        <% workDone = isFinite(workDone) ? workDone : 0; %>

        <div class="home-project" title="<%= item.projectOverview.name %>" data-nav="/project/<%= item._id %>/overview">
          <div class="home-project__name">
            <%= item.projectOverview.name %>
          </div>
          <div class="home-project__goals">
            <%= (item.projectOverview.goals) ? item.projectOverview.goals : " " %>
          </div>
    
          <div class="home-project__work-progress">
            <progress class="home-project__work-progress__bar" value="<%= workDone %>" max="100"></progress>
            <div class="home-project__work-progress__txt"> <span data-home-project-work-progress><%= workDone %></span>% </div>
          </div>
    
          <div class="home-project__due-date-wrapper">
            📅 Due : &nbsp;
              <span data-home-project-due-date>
                <% const date = (item.projectOverview.endDate) ? item.projectOverview.endDate : "date not set" %>
                <%= (date !== 'date not set') ? `${date.split('-').reverse().join('-')}` : date %>
              </span>
          </div>
        </div>

      <% } %>

    <% } %>

  </div>

  <%- include('./error_notify.ejs') %>

</section>
